body {
    display: grid;
    place-items:center;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr;
    width: 80%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color: rgba(0, 255, 140, 0.267);
}
header  {
    display:grid;
    grid-row-start:1;
    grid-row-end:2;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    padding-top:0;
    padding-bottom:0;
    width:100%;
    height:auto;
    background-color: turquoise;
    font-size:30px;
    font-weight:bold;
    text-align: center;
}
header .heading {
    display:flex;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    color:blue;
}
header .heading img {
    display: block;
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 0 30px #777;
    object-fit: fill;
    margin-top:0px;
    margin-bottom:0px;
}
header .heading span {
    padding-left: 20px;
    margin-left: 50px;
    margin-top:auto;
    margin-bottom:auto;
}
nav {
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    display:grid;
    width:100%;
    height:60px;
}
nav .menu{
    display:grid;
    align-items: center;
    list-style-type: none;
    text-align:center;
    grid-template-columns: repeat(4,1fr);
    grid-row:2/3;
    background-color: rgb(0, 247, 255);
    border-width:1px;
    border-style:solid;
    border-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 30px;
    font-weight: bold;
}
nav .menu ul {
    display:grid;
    grid-gap: 1rem;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
nav .menu ul li{
    display:grid;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
nav .menu ul a {
    display:grid;
    padding-left:12px;
    padding-right:12px;
    color:blue;
    text-decoration: none;
}

nav .active {
    background-color: rgba(164, 228, 24, 0.192);
}
nav a:hover {
    background-color: rgba(255,255,255,0.2);
}
nav #hamburger_menu {
    display: none;
}
nav #close_menu {
    display: none;
}
main {
    display:grid;
    width:100%;
    height:auto;
    grid-template-rows: 1fr auto;
    margin-top: 10px;
    background-color:lightcyan
}
main .main-title {
    display:grid;
    grid-row-start:1;
    grid-row-end:2;
    align-items:center;
    height:48px;
    width:100%;
    font-size: 20px;
    font-weight: bold;
    color: rgba(21, 62, 244, 0.976);
    text-align: center;
}
main .main-title h1{
    margin-top:auto;
    margin-bottom:auto;
}
main .main-container{
    display:grid;
    grid-template-columns: .5fr .5fr;
    grid-gap: 10px;
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: lightcyan;
}
main .main-container #card1{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    width:100%;
    height:auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right:100px;
    border-width:10px;
    padding:10px;
    border-style:solid;
}
main .main-container #card1 h2 {
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
}
main .main-container #card1 ul{
    display: inline-block;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    text-align:left;
}
main .main-container #card1 ul li{
    display: inline-block;
    padding-left:12px;
    padding-right:12px;
}
main ,main-container #card1 ul li a{
    display: inline-block;
    font-size: 25px;
    padding-left:12px;
    padding-right:12px;
    color:blue;
    text-decoration: none;
}
main #card-2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-rows:50px 1fr;
    width:700px;
    height:268.14px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
    margin-right:auto;
    border-width:10px;
    padding:10px;
    border-style:solid;
}
main #card-2 h2 {
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
}
  footer {
    display: grid;
    grid-row-start:3;
    grid-row-end:4;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 0;
    padding-bottom: 0;
    width:100%;
    height: auto;
    font-size:30px;
    text-align: center;
    background-color: #19f0c9;
	border: 1px solid rgba(0, 0, 0, 0.2);
}
footer #flag-container {
    display:flex;
    align-items: center;
    justify-content: center;
}
footer #text {
    font-size: 30px;
    margin-top:auto;
    margin-bottom:auto;
    float:right;
}
footer img {
    display:flex;
    float:right;
    resize: both;
    width: 150px;
    height: auto;
    margin-left: 6px;
}
