/* HTML Selectors */
body {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 200px 1fr;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', Helvetica, sans-serif;
}

header {
    background-color: turquoise;
    width: 100%;
    top: 0;
    z-index: 1;
    padding-bottom: 0px;
    
}
header h1 {
    font-size: 50px;
    text-align:left;
    margin-left: 500px;
    margin-top:100px;
    
}
    
picture img {
    float: left;
    width: 240px;
    height: auto;
    border-radius: 5%;
    border: 1px solid #ccc;
    box-shadow: 0 0 30px #777;
    margin-left: 240px;
}

nav {
    background-color: white;
    width: 100%;
    height:330px;
    margin-top:20px;
    margin-left: 480px;
    font-size: 30px;
    font-weight: bold;
}
nav ul li {
    list-style-position: none;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

    main {
    background-color: turquoise;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0pix;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    
}
    main h2,h3 {
        margin-left: 500px;
        font-size: 25px;
        font-weight: bold;
        color: black;
    }
main li {
        margin-left: 480px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: 25px;
        font-weight: bold;
        color: black;
        
    }
footer {
    background-color: gray;
    color: white;
    padding: 15px;
    width: 100%;
    bottom: 0;
    max-height: 100px;
}
footer p {
    margin-top: 30px;
    margin-left: 500px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
}
footer img {
    height: auto;
    width: auto;
    float:right;
    margin-right: 700px;
    margin-top:-68px;
    top: 0
}
