@media screen and (max-width: 480px) {
    header {
        display:flex;
        grid-template-rows: 1fr;
        grid-template-columns: 140px;
        height: 250px;
        background-color: turquoise;
        width: 100%;
        align-items: center;
    }
    header picture {
        display:table-cell;
        text-align: center;
        vertical-align: middle;
        margin-left: 50px;
        margin-right: auto;
    }
    header picture img {
        display:flexbox;
        border: 1px solid #ccc;
        box-shadow: 0 0 30px #777;
        width: 130px;
        height: auto;
        object-fit: fill;
        align-content: center;
    }
    header .header_text {
        display:block;
        text-align: center;
        width: auto;
        height: auto;
    }
    header .header_text h1 {
        display:block;
        color: navy;
        font-weight: bold;
        font-size: 30px;
        text-align:left;
        height:auto;
        margin-left: 20px;
        margin-top:auto;
        margin-bottom: auto;
        text-align: center;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin: 0;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        background-color: rgb(0, 247, 255);
    }
    nav ul {
        display: none;
        list-style-type: none;
    }
    nav ul li {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    nav ul li a {
        text-decoration: none;
        color: navy;
        font-size: 30px;
        font-weight: bold;
    }
    nav #hamburger_menu {
        display: block;
        font-size: 1.5rem;
        background-color: aliceblue;
        position: absolute;
        top: 253px;
        right: 6px;
        width: 40px;
        height: 40px;
        object-fit: cover;
}
    nav ul li::hover {
        color:red;
    }
    nav #close_menu {
        display: none;
        font-size: 1.5rem;
        background-color: aliceblue;
        position: absolute;
        top: 253px;
        right: 6px;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
    main {
        background-color: rgba(74, 125, 137, 0.149);
        width: 100%;
        display: grid;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
    main .hero {
        display: grid;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-template-columns: 1fr;
        width: auto;
        height: auto;
        margin-left: 0px;
        margin-top: 0px;
        background-color: rgb(157, 239, 239);
        text-align: center;
        align-items: center;
    }
    main .hero_text {
        display: block;
        width:200px;
        height: auto;
        text-align: center;
        margin-left: 50px;
    }
    main .hero_text h2 {
        font-size: 25px;
    }
    main .hero_img {
        display: block;
        width: auto;
        height: 450px;
        align-items: center;
        margin-left: 25px;
    }
    main .hero_img img {
        width: auto;
        height: 450px;
        resize: both;
        object-fit: scale-down;
    }
    main .card {
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        height: auto;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    main .card h2,h3 {
        display:block;
        font-size: 25px;
        font-weight: bold;
        color: black;
        width: 250px;
        height:auto;
        margin-left: 50px;
        margin-right: auto;
    }
    
    main .card ul {
        display: block;
        list-style-type : none;
        width: 250px;
        height:auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        padding-bottom: 10px;
        font-size: 25px;
        font-weight: bold;
        color: black;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: gray;
        color: white;
        padding: 15px;
        bottom: 0;
        height: auto;
        width: 100%;
    }
    footer .copy_right p {
        display: grid;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    footer .flag {
        display: grid;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
        height: auto;
        margin-left: 20px;
    }
    footer .flag img {
        size-adjust: auto;
        width: 100px;
        height: auto;
        align-items: center;
    }
    footer .lastModified {
        display: grid;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    
    .before::before{
        content: 🌞;
    }
    .after::after{
        content:🌛;
    }
}
