/* HTML Selectors */
@media screen and (min-width:481px) {
    body {
        display: grid;
        place-items:center;
        margin-top: 0px;
        padding-top:0px;
        font-family: 'Roboto', Helvetica, sans-serif;
        background-color: rgba(0, 255, 140, 0.267);
    }
    header  {
        display:grid;
        grid-row:1/2;
        padding-top:0;
        padding-bottom:0;
        height:350px;
        width:80%;
        background-color: turquoise;
        font-size:2.5em;
        font-weight:bold;
        text-align: center;
    }
    header .heading {
        display:flex;
        margin-left:auto;
        margin-right:auto;
        margin-top:auto;
        margin-bottom:auto;
        color:blue;
        
    }
    header .heading img {
        display: block;
        width: 300px;
        height: 300px;
        border: 1px solid #ccc;
        box-shadow: 0 0 30px #777;
        object-fit: fill;
        margin-top:0;
        margin-bottom:0;
    }
    header .heading span {
        padding-left: 20px;
        margin-left: 50px;
        margin-top:auto;
        margin-bottom:auto;
    }
    nav {
        display:grid;
        width:80%;
        height:60px;
    }
    nav .menu{
        display:grid;
        align-items: center;
        list-style-type: none;
        text-align:center;
        grid-template-columns: repeat(4,1fr);
        grid-row:2/3;
        background-color: rgb(0, 247, 255);
        border-width:1px;
        border-style:solid;
        border-color: black;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 30px;
        font-weight: bold;
    }
    nav .menu ul {
        display:grid;
        grid-gap: 1rem;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    nav .menu ul li{
        display:grid;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    nav .menu ul a {
        display:grid;
        padding-left:12px;
        padding-right:12px;
        color:blue;
        text-decoration: none;
    }

    nav .active {
        background-color: rgba(0,0,0,0.2);
    }
    nav a:hover {
        background-color: rgba(255,255,255,0.2);
    }
    nav #hamburger_menu {
        display: none;
    }
    nav #close_menu {
        display: none;
    }
    main {
        display:grid;
        width:80%;
    }
    main .main-container {
        background-color: rgba(74, 125, 137, 0.149);
        display: grid;
        grid-row:3/5;
    }
    main .main-title {
        display:grid;
        align-items: center;
        grid-row:3/4;
        height:70px;
        font-size: 25px;
        font-weight: bold;
        color: rgba(21, 62, 244, 0.976);
        text-align: center;
    }
    main .main-title h1 {
        display:grid;
        margin-top:auto;
        margin-bottom:auto;
    }
    main .cards-container{
        display:grid;
        height:310px;
        grid-row:4/5;
        grid-template-columns:.7fr .3fr;
        border-width:1px;
        border-style:solid;
        border-color: black;
    }
    main #card-1 {
        display: grid;
        width:900px;
        height:268.14px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 100px;
        margin-right: auto;
        border-width:10px;
        padding:10px;
        border-style:solid;
        border-color: black;
    }
    main #card h2 {
        font-size: 25px;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    main .card ul {
        list-style-type : none;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: 25px;
        font-weight: bold;
        color: black;
    }
    main #card-2 {
        display: grid;
        grid-template-rows:50px 1fr;
        width:700px;
        height:268.14px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 100px;
        margin-right:auto;
        border-width:10px;
        padding:10px;
        border-style:solid;
        border-color: black;
    }
    main #card-2 h2 {
        font-size: 25px;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    footer {
        display: grid;
        grid-row:5/7;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: gray;
        color: white;
        padding: 15px;
        bottom: 0;
        height: auto;
        font-size:30px;
        text-align: center;
    }
    footer #flag-container {
        display:flex;
        align-items: center;
        justify-content: center;
    }
    footer #text {
        font-size: 30px;
        margin-top:auto;
        margin-bottom:auto;
        float:right;
    }
    footer img {
        display:flex;
        float:right;
        resize: both;
        width: 150px;
        height: auto;
        margin-left: 6px;
    }
    footer #last_modified {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .before::before{
        content: 🌞;
    }
    .after::after{
        content:🌛;
    }
}
