@media screen and (min-width:481px) {
    body {
        display:grid;
        align-items:center;
        width: 50%;
        margin-left:auto;
        margin-right:auto;
        font-family: 'Roboto', Helvetica, sans-serif;
        background-color: rgba(0, 255, 140, 0.267);
    }
    header  {
        display:grid;
        margin-left:auto;
        margin-right:auto;
        grid-template-columns: .20fr  .80fr;
        padding-top:0;
        padding-bottom:0;
        height:350px;
        width:90%;
        background-color: turquoise;
        font-size:1.5em;
        font-weight:bold;
        text-align: center;
    }
    header .heading {
        display:grid;
        grid-column:1/2;
        margin-left:auto;
        margin-right:auto;
        margin-top:auto;
        margin-bottom:auto;
    }
    header .heading img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 250px;
        height: auto;
        border: 1px solid #ccc;
        box-shadow: 0 0 30px #777;
        object-fit: fill;
        margin-top:0;
        margin-bottom:0;
        margin-left:20px;
        margin-right:auto;
    }
    header h1{
        display:grid;
        grid-column-start:2;
        grid-column-end:3;
        padding-left: 20px;
        margin-left: 0px;
        margin-top:auto;
        margin-bottom:auto;
        margin-left:20px;
        margin-right:auto;
    }
    nav {
        position:relative;
        display:inline-flex;
        margin-left:auto;
        margin-right:auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:90%;
        height:70px;
        background-color: yellow;
    }
    
    nav #menu{
        display:flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        justify-content: center;
        text-align:center;
        border-width:1px;
        border-style:solid;
        border-color: black;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 25px;
        font-weight: bold;
    }
    nav ul{
        display:inline-flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        justify-content: center;
        text-align:center;
        border-width:1px;
        margin-right:70px;
        font-size:30px;
        color:black;
        font-weight:bold;
    }
    nav .nav-link{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    nav a {
        display:flex;
        flex-direction: row;
        list-style-type: none;
        margin-right:80px;
    }
    #main-title{
        display:grid;
        width:100%;
        margin-bottom:10px;
        align-items: center;
        height:30px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: rgba(21, 62, 244, 0.976);
    }
    #main-title h1 {
        display:grid;
        margin-top:0px;
        margin-bottom:auto;
        text-align: center;
    }


    nav .active {
        background-color: rgba(0,0,0,0.2);
    }
    nav a:hover {
        background-color: rgba(255,255,255,0.2);
    }
    nav #hamburger_menu {
        display: none;
    }
    nav #close_menu {
        display: none;
    }
   #main-page {
        display:grid;
        width:90%;
        margin-top:20px;
        grid-template-columns: .80fr .20fr;
        border-color: black;
   }
    #main-page #card1 {
        display: grid;
        grid-column-start:1;
        grid-column-end:2;
        width:75%;
        height:auto;
        margin-top: auto;
        margin-bottom: auto;
        padding:10px;
        border-style:solid;
        border-color: black;
        font-size:25%;
    }
    #main-page #card1 h2 {
        display:grid;
        text-align: center;
        height:100px;
        font-size: 25px;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    #main-page #card1 ul {
        list-style-type : none;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: 25px;
        font-weight: bold;
        color: black;
    }
    #main-page #card2 {
        display: grid;
        grid-column-start:2;
        grid-column-end:3;
        margin-top: 100px;
        margin-bottom: auto;
        margin-left: 20px;
        margin-right:auto;
        border-width:10px;
        padding:10px;
    }
    #main-page #card2 h2, p {
        font-size: 25px;
        font-weight: bold;
        color: black;
        text-align: center;
    }
    #main-page #card2 #temp {
        font-size:25px;
        font-weight: bold;
        color: black;
    }

    footer {
        display: grid;
        grid-row:5/7;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: greenyellow;
        color: white;
        padding: 15px;
        bottom: 0;
        width:90%;
        height: auto;
        font-size:30px;
        text-align: center;
    }
    footer #flag-container {
        display:flex;
        align-items: center;
        justify-content: center;
    }
    footer #text {
        font-size: 30px;
        margin-top:auto;
        margin-bottom:auto;
        float:right;
    }
    footer img {
        display:flex;
        float:right;
        resize: both;
        width: 150px;
        height: auto;
        margin-left: 6px;
    }
    footer #last_modified {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .before::before{
        content: 🌞;
    }
    .after::after{
        content:🌛;
    }
}
